<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sama.dome.community.community.mapper.PosterMapper">


    <select id="selectAll" resultType="sama.dome.community.community.dto.PosterDTO">
        select * from postlist
    </select>
</mapper>
